---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Button from "../Button.astro";

const { imagePath, altText, headingStyle, headingText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="main-grid">
  <article class="project-overview-grid">
    <Image src={images[imagePath]()} alt={altText} />
    <article>
      <div>
        <div>
          <h3>Case Name</h3>
          <p>Taxes & Efficiency</p>
        </div>
        <div>
          <h3>Category</h3>
          <p>Business</p>
        </div>
        <div>
          <h3>Date</h3>
          <p>27th September 2022</p>
        </div>
      </div>
      <Button text="Live Preview" , buttonStyle="yellow" />
    </article>
  </article>
</section>

<style>
  .project-overview-grid {
    display: grid;
    grid-template-columns:
      [full-start] 1fr
      [featured-start] 3fr
      [content-start] minmax(0, 24rem) [content-end]
      3fr[featured-end]
      1fr [full-end];
    > img {
      grid-column: full;
      border-radius: 1.3rem;
    }

    article:has(button) h3,
    p {
      color: #fff;
    }

    > article:nth-child(2) {
      margin-block-start: -5%;
      display: flex;
      justify-content: space-between;
      justify-items: center;
      grid-column: featured;
      background: var(--secondary-color-1);
      border-radius: 1.3rem;
      padding: 3cqi 3.5cqi;

      > div {
        display: flex;
        gap: 6cqi;

        h3 {
          font-size: var(--font-size-step-2);
          margin-block-end: 0.6rem;
        }
      }
    }
  }

  .full-width-grid {
    grid-area: full;
  }
</style>
