---
import Button from "../Button.astro";
---

<section class="main-grid">
  <article>
    <div>
      <h2>Subscripe Our Newsletter</h2>
      <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <div>
      <label>
        <input type="text" id="inputnewsletter" placeholder="Your mail adress" />
      </label>
      <Button buttonStyle="yellow" text="Subscribe" />
    </div>
  </article>
</section>

<style>
  section {
    container: bar / inline-size;
  }
  article {
    background: var(--secondary-color-1);
    padding: 5cqi;
    border-radius: 1.3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
    overflow: hidden;
  }
  h2 {
    font-size: var(--font-size-step-4);
    font-weight: var(--font-weight-step-2);
    color: #fff;
    margin-block-end: var(--space-xs);
  }

  p {
    color: #fff;
  }

  div:has(label) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    gap: 1.5rem;
  }

  input {
    padding: 0.9375rem 2.125rem;
    border-radius: 3rem;
    background: #fff;
  }

  input:placeholder {
    content: "your mail address";
  }

  div:has(label):after {
    content: "";
    position: absolute;
    inset: 244% 73%;
    border-radius: 0.8rem;
    inline-size: 80%;
    block-size: 162%;
    background: var(--secondary-color-3);
    z-index: -1;
    rotate: 60deg;
  }

  div:has(label):before {
    position: absolute;
    content: url("/src/icons/pattern.svg");
    inline-size: 17cqi;
    block-size: 15cqi;
    inset: -195% 89%;
    transform: rotate(43.687deg);
    z-index: -1;
  }

  @container bar (width < 1000px) {
    article {
      justify-content: center;
    }
    div:has(label) {
      margin-block-start: 1rem;
    }
  }
</style>
