:root {
  /*Colors*/
  --site-bagground-color: #fff;
  --copy-primary-color: #595566;
  --heading-primary-color: #181818;
  --heading-color-variant-1: #ffcc4a;
  --heading-color-variant-2: #4eaf4e;

  /*Fonts*/
  --copy-font: "Lato", sans-serif;
  --headings-font: "Cabin", sans-serif;

  /*Line Heights*/
  --lineheight-step-1: 1.45rem;
  --lineheight-step-2: 1.475rem;
  --lineheight-step-3: clamp(2.55rem, 1.8707rem + 1.6185cqi, 3.225rem);

  /*Font Size*/

  --font-size-step-1: clamp(1rem, 1rem + 0cqi, 1rem);
  --font-size-step-2: clamp(1.25rem, 1.214rem + 0.1535cqi, 1.333rem);
  --font-size-step-3: clamp(1.5625rem, 1.4696rem + 0.3966cqi, 1.7769rem);
  --font-size-step-4: clamp(1.9531rem, 1.773rem + 0.7685cqi, 2.3686rem);
  --font-size-step-5: clamp(2.4414rem, 2.131rem + 1.3243cqi, 3.1573rem);

  /*  --font-size-step-1: 1rem;
  --font-size-step-2: 1.25rem;
  --font-size-step-3: 1.875rem;
  --font-size-step-4: 2.8125rem;
  --font-size-step-5: 3.125rem; */

  /*Spacing*/
  --space-3xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vi, 0.5rem);
  --space-xs: clamp(0.75rem, 0.75rem + 0vi, 0.75rem);
  --space-s: clamp(1rem, 1rem + 0vi, 1rem);
  --space-m: clamp(1.5rem, 1.5rem + 0vi, 1.5rem);
  --space-l: clamp(2rem, 2rem + 0vi, 2rem);
  --space-xl: clamp(3rem, 3rem + 0vi, 3rem);
  --space-2xl: clamp(4rem, 4rem + 0vi, 4rem);
  --space-3xl: clamp(6rem, 6rem + 0vi, 6rem);

  /*Font Weight*/
  --font-weight-step-0: 500;
  --font-weight-step-1: 600;
  --font-weight-step-2: 700;

  /*Letter Spacing*/
  --letter-spacing-step-1: 0.145rem;
  --letter-spacing-step-2: 3.2625rem;
}

body {
  background: var(--site-bagground-color);
  font-family: var(--copy-font);
  font-size: var(--font-size-step-1);
  line-height: var(--lineheight-step-2);
  color: var(--copy-primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font);
  color: var(--heading-primary);
}

[data-icon] {
  inline-size: 1.23044rem;
  block-size: 1.23044rem;
}

/*Classes*/
.h2-button-style {
  --bg: var(--heading-color-variant-1);
  font-family: var(--copy-font);
  inline-size: fit-content;
  border-radius: 1.25rem;
  padding: 0rem 0.9375rem;
  line-height: var(--lineheight-step-2);
  font-size: var(--font-size-step-1);
  letter-spacing: var(--letter-spacing-step-1);
  text-transform: uppercase;
  background: var(--bg);
}

.sub-heading-style {
  color: var(--heading-primary-color);
  font-family: var(--headings-font);
  font-size: var(--font-size-step-5);
  font-weight: var(--font-weight-step-2);
  line-height: var(--lineheight-step-3);
  max-inline-size: 41.75rem;
}

.flow-space {
  > * + * {
    margin-block-start: var(--space, 2rem);
  }
}
