:root {
  /*Layout Sizes*/
  --content: min(70rem, 100% - 2rem * 2);

  /*Colors*/
  --site-bagground-color: #fff;
  --site-bagground-secondary-color: #eaeaea;
  --site-bacgground-secondary-2-color: #f5f5f5;
  --copy-primary-color: #595566;
  --secondary-color-1: #181818;
  --secondary-color-2: #ffcc4a;
  --secondary-color-3: #4eaf4e;

  /*Fonts*/
  --copy-font: "Lato", sans-serif;
  --headings-font: "Cabin", sans-serif;

  /*Line Heights*/
  --lineheight-step-1: 1.45rem;
  --lineheight-step-2: 1.475rem;
  --lineheight-step-3: 1.8rem;
  --lineheight-step-4: clamp(2.55rem, 1.8707rem + 1.6185cqi, 3.225rem);

  /*Font Size*/

  --font-size-step-1: clamp(1rem, 1rem + 0cqi, 1rem);
  --font-size-step-2: clamp(1.25rem, 1.214rem + 0.1535cqi, 1.333rem);
  --font-size-step-3: clamp(1.5625rem, 1.4696rem + 0.3966cqi, 1.7769rem);
  --font-size-step-4: clamp(1.9531rem, 1.773rem + 0.7685cqi, 2.3686rem);
  --font-size-step-5: clamp(2.4414rem, 2.131rem + 1.3243cqi, 3.1573rem);

  /*Spacing*/
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);

  /*Font Weight*/
  --font-weight-step-0: 500;
  --font-weight-step-1: 600;
  --font-weight-step-2: 700;

  /*Letter Spacing*/
  --letter-spacing-step-1: 0.145rem;
  --letter-spacing-step-2: 3.2625rem;
}

body {
  background: var(--site-bagground-color);
  font-family: var(--copy-font);
  font-size: var(--font-size-step-1);
  line-height: var(--lineheight-step-2);
  color: var(--copy-primary-color);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font);
  color: var(--secondary-color-1);
}
p {
  max-inline-size: 65ch;
}

/*Classes*/

.sub-heading-style {
  inline-size: fit-content;
  color: var(--secondary-color-1);
  font-family: var(--headings-font);
  font-size: var(--font-size-step-5);
  font-weight: var(--font-weight-step-2);
  line-height: var(--lineheight-step-4);
  max-inline-size: 41.75rem;
}

.flow-space {
  > * + * {
    margin-block-start: var(--space, 1em);
  }
}

.spacing-article {
  &:not(:has(div)) {
    h2 {
      margin-block-end: 1.1875rem;
    }
  }
  &:has(div) {
    div > * {
      margin-block-end: 1.1875rem;
    }
  }
  h2 + p {
    margin-block-end: 0.875rem;
  }
  button {
    margin-block-start: 1.31rem;
  }
}

.main-grid {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start] minmax(0, var(--content)) [content-end]
    1fr [full-end];
  > * {
    grid-column: content;
  }
}

.full-width-grid {
  grid-area: full;
}

/* article {
  section:has(> &) {
    container-type: inline-size;
  }
  @container (width < 700px) {
    grid: auto/1fr;
  }
} */
/* figure {
  display: none; */
