---
import Button from "./Button.astro";
import Card from "./Card.astro";
import { cardContentGwoc } from "../data/aboutcardinfo.js";
import HeadingStyled from "./HeadingStyled.astro";

const { headingStyle, headingText } = Astro.props;
---

<section class="main-grid">
  <article class="spacing-article">
    <div>
      <HeadingStyled {headingStyle} {headingText} />
      <p class="sub-heading-style">Our core values & principles</p>
      <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
    </div>
    <div>
      <Button buttonStyle="black" text="Get in touch" />
    </div>
  </article>
  <article class="card-section full-width-grid">
    <Card cardContentGwoc={cardContentGwoc} cta="true" />
  </article>
</section>

<style>
  section {
    padding: 6.25rem 0;
    --content: min(70rem, 100% - 2rem * 2);
    background: var(--site-bagground-secondary-color);
    container: main-content / inline-size;

    > article:first-child {
      display: grid;
      grid: auto / 2fr 1fr;
      gap: 2rem;
      div:last-child {
        place-self: end;
      }
    }
    > article:last-child {
      margin-block-start: 2rem;
    }
  }
  article {
  }

  @container main-content (width < 700px) {
    section {
      > article:first-child {
        grid: auto / 1fr;
        gap: 0;
        div:last-child {
          place-self: start;
        }
      }
    }
  }
</style>
