---
import Button from "./Button.astro";
import Card from "./Card.astro";
import { cardContentGwoc } from "../data/aboutcardinfo.js";

const { h2color, heading } = Astro.props;
---

<section class="main-grid">
  <article class="spacing-article">
    <div>
      <h2 style=`--bg: ${h2color}` class="h2-button-style">{heading}</h2>
      <p class="sub-heading-style">Our core values & principles</p>
      <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
    </div>
    <div>
      <Button text="Get in touch" />
    </div>
  </article>
  <article class="card-section full-width-grid">
    <Card cardContentGwoc={cardContentGwoc} cta="true" />
  </article>
</section>

<style>
  section {
    padding: 6.25rem 0;
    --content: min(70rem, 100% - 2rem * 2);
    background: var(--site-bagground-secondary-color);
    container: main-content / inline-size;

    > article:last-child {
      margin-block-start: 2rem;
    }
  }
  article {
    display: grid;
    grid: auto / 2fr 1fr;
    gap: 2rem;
    div:last-child {
      place-self: end;
    }
  }
  .card-section {
    display: flex;
    gap: 2rem;
    padding-inline: max(2rem, 50% - var(--content) / 2);
    overflow: scroll;
    > * {
      flex: 1 0 16rem;
    }
  }

  @container main-content (width < 700px) {
    article {
      grid: auto / 1fr;
      gap: 0;
      div:last-child {
        place-self: start;
      }
    }
  }
</style>
