---
const { headingStyle, headingText } = Astro.props;
---

<h2 data-style=`${headingStyle}`>{headingText}</h2>

<style>
  h2 {
    font-family: var(--copy-font);
    inline-size: fit-content;
    border-radius: 1.25rem;
    padding: 0rem 0.9375rem;
    line-height: var(--lineheight-step-2);
    letter-spacing: var(--letter-spacing-step-1);
    text-transform: uppercase;
    font-size: var(--font-size-step-1);
  }
  [data-style="yellow"] {
    background: var(--secondary-color-2);
  }
  [data-style="green"] {
    color: white;
    background: var(--secondary-color-3);
  }
  [data-style="gray"] {
    color: white;
    background: #323232;
  }
</style>
