---
import { Icon } from "astro-icon/components";
import MainNavigation from "./MainNavigation.astro";
---

<section>
  <article>
    <div>
      <Icon name="opening_hour_nav_icon" />
      <p>Monday - Friday 8AM - 9PM</p>
    </div>
    <div>
      <Icon name="place_icon" />
      <p>725 Park Ave, New York</p>
    </div>
    <div>
      <Icon name="navicons/instagram" />
      <Icon name="navicons/facebook" />
      <Icon name="navicons/twitter" />
      <Icon name="navicons/linkedin" />
    </div>
  </article>
  <MainNavigation />
</section>

<style>
  section {
    display: grid;
    background-color: var(--secondary-color-1);

    article {
      display: flex;
      justify-content: space-between;
      padding-inline: max(2rem, 50% - var(--content) / 2);
      padding-block: 0.5rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }

      div:last-child {
        gap: 1.58rem;
        [data-icon] {
          width: 1.12375rem;
          height: 1.08131rem;
        }
      }
      p {
        font-size: 0.875rem;
        color: #fff;
      }
    }

    [data-icon="opening_hour_nav_icon"],
    [data-icon="place_icon"] {
      inline-size: 0.73644rem;
      block-size: 0.95738rem;
    }
  }

  @media (width < 600px) {
    section > article:first-child {
      display: none;
    }
  }
</style>
