---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<section>
  <article>
    <div>
      <Icon name="opening_hour_nav_icon" />
      <p>Monday - Friday 8AM - 9PM</p>
    </div>
    <div>
      <Icon name="place_icon" />
      <p>725 Park Ave, New York</p>
    </div>
    <div>
      <Icon name="navicons/instagram" />
      <Icon name="navicons/facebook" />
      <Icon name="navicons/twitter" />
      <Icon name="navicons/linkedin" />
    </div>
  </article>
  <article>
    <div>
      <Icon name="ask_experts_icon" />
      <p>AskExperts</p>
    </div>
    <ul>
      <a href="/"><li class={currentPath === "" ? "active" : ""}>About</li></a>
      <a href="/servicesingle"><li class={currentPath === "servicesingle" ? "active" : ""}>Service Single</li></a>
      <a href="/team"><li class={currentPath === "team" ? "active" : ""}>Team</li></a>
      <a href="/casestudysingle"><li class={currentPath === "casestudysingle" ? "active" : ""}>Case Study Single</li></a>
    </ul>
    <Button btnIcon="true" buttonStyle="white" btnSize="small" text="+ (888) 452 1505" />
    <div class="burger">
      <span></span><span></span><span></span><span></span>
    </div>
  </article>
</section>

<style>
  section {
    display: grid;
    background-color: var(--secondary-color-1);
    container: nav / inline-size;

    article:first-child {
      padding: 0.5rem;
      display: flex;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }

      div:last-child {
        gap: 1.58rem;
        [data-icon] {
          width: 1.12375rem;
          height: 1.08131rem;
        }
      }
    }
    article p {
      font-size: 0.875rem;
      color: #fff;
    }

    article:last-child {
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      background: rgb(62 61 61 / 91%);
      color: #fff;

      div {
        display: flex;
        gap: 0.3rem;
        p {
          font-size: 1.875rem;
        }
      }
      ul {
        padding: 0;
        display: flex;
        gap: 2.5rem;
        li {
          list-style: circle;
        }

        li:hover {
          color: var(--secondary-color-3);
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .active {
          color: var(--secondary-color-3);
          list-style: unset;
        }
      }
      [data-icon] {
        width: 1.85869rem;
        height: 1.80669rem;
      }
    }
  }

  [data-icon="opening_hour_nav_icon"],
  [data-icon="place_icon"] {
    inline-size: 0.73644rem;
    block-size: 0.95738rem;
  }

  a {
    all: unset;
  }

  @container nav (width < 970px) {
    article:last-child {
      p,
      button {
        display: none;
      }
    }
  }
  @container nav (width < 600px) {
    section > article:first-child {
      display: none;
    }
    article:last-child {
      & > ul {
        display: none;
      }
      p {
        display: block;
      }
      .burger {
        display: block;
        width: 50px;
        height: 60px;
        position: relative;
        transition: 0.5s ease-in-out;
        z-index: 11;
        margin: 10px 20px;
      }

      .burger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: var(--secondary-color-2);
        transition: 1s ease-in-out;
      }
      span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: var(--secondary-color-2);
        transition: 1s ease-in-out;
      }

      .burger span:nth-child(1) {
        top: 10px;
      }

      .burger span:nth-child(2),
      .burger span:nth-child(3) {
        top: 25px;
      }

      .burger span:nth-child(4) {
        top: 40px;
      }
    }
  }
</style>
