---
import { profileContent } from "../data/profilecardinfo.js";
import ProfileCard from "./ProfileCard.astro";
import HeadingStyled from "./HeadingStyled.astro";
const { headingStyle, headingText } = Astro.props;
---

<section class="main-grid">
  <article class="spacing-article">
    <HeadingStyled {headingStyle} {headingText} />
    <p class="sub-heading-style">We champion the bold to achieve the extraordinary</p>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
  </article>
  <ProfileCard imagePath="/src/assets/sarah.png" profileContent={profileContent} />
</section>

<style>
  section {
    padding: 6.25rem 0;
    --content: min(70rem, 100% - 2rem * 2);
    background: var(--site-bagground-secondary-color);

    > article:last-child {
      margin-block-start: 2rem;
    }
  }
</style>
