---
import { Icon } from "astro-icon/components";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { imagePath, altText, color } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="main-grid">
  <article class="spacing-article">
    <div>
      <h2 style=`--bg: ${color}` class="h2-button-style">Our Vision</h2>
      <p class="sub-heading-style">Turn your ideas into reality.</p>
      <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
      <ul>
        <li><Icon name="list_icon" /><p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</p></li>
        <li><Icon name="list_icon" /><p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</p></li>
      </ul>
    </div>
    <figure>
      <Image src={images[imagePath]()} alt={altText} />
    </figure>
  </article>
  <dl>
    <div>
      <dt>Successful Work</dt>
      <dd>1128+</dd>
    </div>
    <div>
      <dt>Team member</dt>
      <dd>908+</dd>
    </div>
    <div>
      <dt>Happy Customers</dt>
      <dd>258+</dd>
    </div>
    <div>
      <dt>Creative Idea</dt>
      <dd>564+</dd>
    </div>
  </dl>
</section>

<style>
  section {
    --content: min(70rem, 100% - 2rem * 2);
    container: main-content / inline-size;
    dl:last-child {
      place-content: center;
    }
  }

  article {
    display: grid;
    grid: auto / 2fr 1fr;
    gap: 2rem;
  }

  figure {
    position: relative;
    align-self: end;
    img {
      border-radius: 1.3rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -9% 70%;
      border-radius: 1.25rem;
      inline-size: 40%;
      block-size: 40%;
      background: var(--heading-color-variant-2);
      z-index: -1;
    }
  }

  ul {
    padding: 0;
    display: grid;
    gap: 1.1875rem;
  }

  li {
    display: flex;
    gap: 1rem;
  }

  dl {
    margin-block-start: 5rem;
    text-align: center;
    display: flex;
    gap: 3rem;

    > * {
      display: flex;
      gap: 1.5rem;
      flex-direction: column-reverse;
      font-size: var(--font-size-step-2);
      font-weight: var(--font-weight-step-0);
      color: var(--heading-primary-color);

      :last-child {
        font-size: var(--font-size-step-5);
        font-weight: var(--font-weight-step-2);
      }
    }
  }

  @container main-content (width < 700px) {
    article {
      grid: auto/1fr;
    }
    figure {
      display: none;
    }

    dl {
      margin-block-start: 2rem;
      flex-wrap: wrap;
      gap: 2rem;
      > * {
        font-size: var(--font-size-step-1);
        gap: 0.5rem;
        :last-child {
          font-size: var(--font-size-step-3);
        }
      }
    }
  }
</style>
